<sky-modal>
    <sky-modal-header>
      Add
    </sky-modal-header>
    
        <sky-modal-content>
            <div class="sky-form-group" >
            <sky-input-box>
              <label
                class="sky-control-label"
                [for]="myInput.id"
              >
              First Name
              </label>
              <input
                class="sky-form-control"
                type="text"
                skyId
                #myInput="skyId"
                [(ngModel)]="firstName"
              >
            </sky-input-box>
      
            <sky-input-box>
              <label
                class="sky-control-label"
                [for]="myInput.id"
              >
              Last Name
              </label>
              <input
                class="sky-form-control"
                type="text"
                skyId
                #myInput="skyId"
                [(ngModel)]="lastName"
              >
            </sky-input-box>
            <sky-input-box>
              <label
                class="sky-control-label"
                [for]="myInput.id"
              >
              Contact Number
              </label>
              <input
                class="sky-form-control"
                type="text"
                skyId
                #myInput="skyId"
                [(ngModel)]="contactNo"
              >
            </sky-input-box>
            <sky-input-box>
              <label
                class="sky-control-label"
                [for]="myInput.id"
              >
              Email
              </label>
              <input
                class="sky-form-control"
                type="text"
                skyId
                #myInput="skyId"
                [(ngModel)]="email"
              >
            </sky-input-box>
      
            <sky-input-box>
              <label
                class="sky-control-label"
                [for]="dateInput.id"
              >
                DOB
              </label>
              <sky-datepicker>
                <input
                  
                  id="myDate"
                  skyDatepickerInput
                  skyId
                  type="text"
                  #dateInput="skyId"
                  [(ngModel)]="dob  "
                />
              </sky-datepicker>
            </sky-input-box>
      
            <sky-input-box>
              <label
                class="sky-control-label"
                [for]="myInput.id"
              >
              Address
              </label>
              <input
                class="sky-form-control"
                type="text"
                skyId
                #myInput="skyId"
                [(ngModel)]="address"
              >
              
            </sky-input-box>
        </div>
          </sky-modal-content>
    
   
    <sky-modal-footer>
      
      <button
      class="sky-btn sky-btn-primary sky-margin-inline-compact"
      type="button"
      (click)="onSaveClick()"
    >Save
</button>


      <button
        class="sky-btn sky-btn-link"
        type="button"
        (click)="instance.close()"
      >
        Close
      </button>
    </sky-modal-footer>
  </sky-modal>